/**
* desc：Carousel组件样式表
* author：DestinyJun
* date：2021/2/22 22:04
*/
.carousel{
  width: 100%;
  height: 100%;
  .carousel-title{
    text-align: center;
    font-weight: bolder;
  }
  .carousel-btn{
    padding-bottom: 10px;
  }
  .carousel-modal{

  }
}
.carousel-tree-box{
  height: 20vh;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width:0;
    height:0;
  }
}
.form{
  height: 26vh;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}
