/**
* desc：FlinkType组件样式表
* author：DestinyJun
* date：2021/2/13 12:12
*/
.flink-type{
  width: 100%;
  height: 100%;
  .flink-type-title{
    text-align: center;
    font-weight: bolder;
  }
  .flink-type-btn{
    padding-bottom: 10px;
  }
}


