/**
* desc：ModalHeader组件样式表
* author：DestinyJun
* date：2021/2/3 10:10
*/
.ModalHeader{
  height: 40px;
  width: 100%;
  background: #001529;
  color: white;
  text-align: center;
  line-height: 40px;
}
